<div class="text-center">
    <h3>{{contact?.name}} - Experience</h3>
</div>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel *ngFor="let experienceItem of experience"  >
        <ng-template ngbPanelTitle>
            <table>
                <tbody>
                    <tr>
                        <th>{{experienceItem.companyName}}</th>
                        <th>{{experienceItem.workTitle}}</th>
                        <th>{{experienceItem.workDuration}}</th>
                    </tr>
                </tbody>
            </table>
        </ng-template>
        <ng-template ngbPanelContent>
            <markdown>{{experienceItem.markdown}}</markdown>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
