<div class="text-center">
    <h3>{{contact?.name}} - Experience</h3>
</div>
<div ngbAccordion [closeOthers]="true" > <!-- -->
    <div ngbAccordionItem *ngFor="let experienceItem of experience"  >
        <span ngbAccordionHeader>
            <button ngbAccordionButton>
                {{experienceItem.companyName}} : {{experienceItem.workTitle}} : {{experienceItem.workDuration}}
            </button>
        </span>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <markdown>{{experienceItem.markdown}}</markdown>
                </ng-template>
            </div>
        </div>
    </div>
</div>
