<div class="text-center">
    <h3>{{contact?.name}}</h3>
</div>
<div class="text-center">
    <img src="assets/img/avatar-photo-400x400.jpg" />
    <div class="row justify-content-center">
        <div class="col-auto">
            <table >
                <tbody>
                    <tr>
                        <td>
                            <i class="bi bi-envelope-fill"></i>
                        </td>
                        <td class="text-start ps-2">
                            <a [href]="contact?.emailURL">{{ contact?.emailAddr }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <i class="bi bi-telephone-fill"></i>
                        </td>
                        <td class="text-start ps-2">
                            <a [href]="contact?.mobilePhoneURL">{{ contact?.mobilePhone }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="bi bi-github"></i>
                        </td>
                        <td class="text-start ps-2">
                            <a [href]="contact?.githubURL" target="_blank" >{{ contact?.githubURL }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="bi bi-twitter"></i>
                        </td>
                        <td class="text-start ps-2">
                            <a [href]="contact?.twitterURL" target="_blank" >{{ contact?.twitterURL }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="bi bi-linkedin"></i>
                        </td>
                        <td class="text-start ps-2">
                            <a [href]="contact?.linkedInURL" target="_blank" >{{ contact?.linkedInURL }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="bi bi-mastodon"></i>
                        </td>
                        <td class="text-start ps-2">
                            <a rel="me" [href]="contact?.mastodonURL"target="_blank" >{{ contact?.mastodonURL }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        
</div>