<div class="text-center">
    <h3>{{contact?.name}} - Technology</h3>
</div>

<div ngbAccordion [closeOthers]="true" >
    <div ngbAccordionItem *ngFor="let technology of technologies"  >
        <span ngbAccordionHeader>
            <button ngbAccordionButton>{{technology.category}}</button>
        </span>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template >
                    <markdown>{{technology.markdown}}</markdown>
                </ng-template>
            </div>
        </div>
    </div>
</div>

