<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-print-none">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{contact?.name}}</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class=" nav navbar-nav justify-content-end" orientation="horizontal">
        <li ngbNavItem="contact">
          <a ngbNavLink routerLink="/" >Contact</a>
        </li>
        <li ngbNavItem="profile">
          <a ngbNavLink routerLink="/profile">Profile</a>
        </li>
        <li ngbNavItem="experience">
          <a ngbNavLink routerLink="/experience">Experience</a>
          <ng-template ngbNavContent>
            <app-experience></app-experience>
          </ng-template>
        </li>
        <li ngbNavItem="technologies">
          <a ngbNavLink routerLink="/technologies">Technologies</a>
        </li>
        <li ngbNavItem="print">
          <a ngbNavLink routerLink="/print" >Print</a>
        </li>
        <li ngbNavItem="about">
          <a ngbNavLink routerLink="/about" ><i class="bi bi-info-circle"></i></a>
          
        </li>
      </ul>
    </div>
  </div>

</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
